<%- include('../../partials/header.ejs') %>
    <div class="container my-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-body">
                    <h4>Login to user account</h4>
                    <form action="/auth/login" method="POST">
                        <div class="form-group  my-3">
                            <label for="email">Enter your email</label>
                            <input class="form-control <%= errors.email ? 'is-invalid':'' %> " type="email" ,
                                name="email" id="email">
                            <div class="invalid-feedback">
                                <%= errors.email && errors.email %>
                            </div>
                        </div>
                        <div class="form-group  my-3">
                            <label for="password">Enter your password</label>
                            <input class="form-control <%= errors.password ? 'is-invalid':'' %> " type="password" ,
                                name="password" id="password">
                            <div class="invalid-feedback">
                                <%= errors.password && errors.password %>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Login">
                    </form>
                    <a href="/auth/signup" class='my-3 text-center'> Don't have an account? Create one</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>